@media (max-width: 1000px) {
    
    main .container-main div {
        margin: auto;
    }

    main .container-main img {
        display: none;
    }

    .container-main h2 {
        margin-left: 50px;
    }

    .container-main div h3 {
        margin-left: 50px;
        margin-right: 20px;
    }

    .container-main form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-top: 30px;
        text-align: center;
    }

    .container-main input {
        margin: 12px;
    }

    .container-main form {
        padding: 30px;
    }

    #contact-form {
        margin: 0px 30px;
    }

}

@media (max-width: 1000px) {
    .container {
        padding: 0px 20px;
    }
}

@media(max-width: 630px) {

    .menu-button-container {
        display: flex;
    }

    .menu {
        position: absolute;
        margin-top: 41px;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
        left: 100%;
        transform: translateX(100vw);
        transition: 0.5s ease transform;
    }

    .menu > li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;
        color: white;
        background-color: #0080ed;
        border-radius: 5px;
    }

    .menu > li:not(:last-child) {
        border-bottom: 1px solid white;
    }

    .menu li a {
        flex: 1;
        text-align: center;
    }

    main .container-menu img {
        display: none;
    }

    .container-main input {
        margin: 12px;
        width: 300px !important;
    }

    .container-main form [type="submit"] {
        width: 150px !important;
    }

    .container-main form {
        padding: 30px;
    }
    .container-menu {
        height: 100%;
        display: flex;
        align-items: center;
        align-items: center;
        justify-content: center;
    }

    .container-menu label {
        cursor: pointer;
        position: relative;
        display: block;
        height: 22px;
        width: 30px;
    }

    .container-menu label span {
        position: absolute;
        display: block;
        height: 5px;
        width: 100%;
        background: white;
        border-radius: 30px;
        border-radius: 30px;
        transition: 0.2s ease-in-out;
    }

    .container-menu label span:nth-child(1) {
        top: 0;
    }

    .container-menu label span:nth-child(2) {
        top: 8px;
    }

    .container-menu label span:nth-child(3) {
        top: 16px;
    }

    #checkbox-menu:checked + label span:nth-child(2) {
        opacity: 0;
    }

    #checkbox-menu:checked + label span:nth-child(1) {
        transform: rotate(-45deg);
        top: 8px;
    }

    #checkbox-menu:checked + label span:nth-child(3) {
        transform: rotate(45deg);
        top: 8px;
    }

    #contact-form {
        margin: 0px 30px;
    }

    #contact-button {
        display: flex;
        justify-content: center;
    }
}

nav.menu {
    width: 100%;
}

#checkbox-menu:checked~nav .menu {
    transform: translatex(-100vw);
    transition: 0.5s ease transform;
}